<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EventsHub</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/top-events" routerLinkActive="active">
          Headlines
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/special-events"
          routerLinkActive="active"
        >
          Events
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a
        class="nav-link"
        *ngIf="!auth.loggedIn()"
        routerLink="/register"
        routerLinkActive="active"
      >
        Register
      </a>
      <a
        class="nav-link"
        *ngIf="!auth.loggedIn()"
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </a>
      <li
        class="nav-item dropdown"
        *ngIf="auth.loggedIn()"
        style="cursor: pointer"
      >
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ localStorageItem("email") }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
            ><span class="bold">Country:</span> {{ getCountry() }}</a
          >
          <a class="dropdown-item" (click)="_auth.logOutUser()"> Logout </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>
