<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card text-white border-secondary mb-3">
      <div class="card-header bg-secondary">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label>Email</label>
            <input
              [(ngModel)]="registerUserData.email"
              name="email"
              type="text"
              class="form-control rounded-0"
              required
            />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              [(ngModel)]="registerUserData.password"
              name="password"
              type="password"
              class="form-control rounded-0"
              required
            />
          </div>
          <div class="form-group">
            <label>Country</label>
            <ng-select
              [items]="countries"
              name="country"
              bindLabel="Name"
              bindValue="Code"
              placeholder="Select Your Home Country"
              [(ngModel)]="registerUserData.countryCode"
            >
            </ng-select>
          </div>
          <button
            (click)="registerUser()"
            type="button"
            class="btn btn-primary float-right mt-3"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
